includes:
  - vendor/nunomaduro/larastan/extension.neon
parameters:
  paths:
    - app
  level: 6
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  ignoreErrors:
    - '#Property .+ does not accept null#'
